@font-face {
  font-family: "ArvoBold";        
  src: url("./font/Arvo-Bold.ttf"); 
}
@font-face {
  font-family: "ArvoRegular";
  src: url("./font/Arvo-Regular.ttf"); 
}
@font-face {
  font-family: "NotoBold";        
  src: url("./font/NotoSerifKR-Bold.otf"); 
}
@font-face {
  font-family: "NotoMedium";
  src: url("./font/NotoSerifKR-Medium.otf"); 
}
@font-face {
  font-family: "NotoRegular";
  src: url("./font/NotoSerifKR-Regular.otf"); 
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
